@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


#sec{ 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    margin-top: 5rem;
}
#instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

#instructions > svg {
    margin-right: 0.25rem;
}

#offscreen {
    position: absolute;
    left: -9999px;
}

#hide {
    display: none;
}

#valid {
    color: limegreen;
    margin-left: 0.25rem;
}

#invalid {
    color: red;
    margin-left: 0.25rem;
}

#errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#line {
    display: inline-block;
} 